/* Mixins */
@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  -webkit-box-shadow:$top $left $blur $color #{$inset};
  -moz-box-shadow:$top $left $blur $color #{$inset};
  box-shadow:$top $left $blur $color #{$inset};
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.link:hover{
  cursor: pointer;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .slogan{
    float:right;
    margin-right: 100px;
    background:white;
    padding: 5px 5px;
    @include border-radius(4px);
    @include opacity(0.8);
    font-size: $font-size-h1;
  }
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}
.ohio-state-banner{
  background-image: (image-url('ohio-state-banner.png'));
  background-size: cover;
  background-position: center;
  height: 386px;
}
/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

form i.icon.error{
  color: $myPrettyColor
}

form input + i.icon.error{
  display: none;
  margin-left: 8px;
}


form.ng-submitted input.ng-invalid + i.icon.error{
  display: block;
}
form .has-error{
  border: 1px solid darken($assertive, 15%);
}
form .has-success{
  border: 1px solid darken($balanced, 15%);
}
form.ng-submitted input.ng-valid + i.icon.error{
  display: none;
}
.navbar-tight{
  margin-bottom: 0px;
}

/****Helpers****/
.radius-top{
  @include border-bottom-radius(0px !important);
}
.radius-bottom{
  @include border-top-radius(0px !important);
}
.center{
  text-align:center;
}
.carousel-item{
  padding: 0px 40px;
}
.sender{
  text-align: left;
}
.sender{
  text-align: right;
}
.text{
  border-radius:3px;
  padding: 5px;
}
.texting{
  color:gray;
}