<div class="demo-container">
	<div class="header">

	</div>
	<div class="content">
		<div class="row">
			<div class="col-md-4">
				<div class="mobile-container">
					<img class="mobile-image" src="images/mobile-container-black.svg"/>
					<div class="mobile-pane"></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="mobile-container">
					<img src="images/mobile-container.svg"/>
					<div class="mobile-pane">
						<div class="cheer-container" ng-repeat="cheer in cheers">
							<span class="cheer-title">{{cheer.title}}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="mobile-container">
					<img src="images/mobile-container.svg"/>
					<div class="mobile-pane"></div>
				</div>
			</div>
		</div>
	</div>
</div>