<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="package">
      <h2 class="package-title">Club</h2>
      <div class="package-image">
        <img js-holder="holder.js/100%x100/social/vine"/>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="package">
      <h2 class="package-title">University</h2>
      <div class="package-image">
        <img js-holder="holder.js/100%x100/social/vine"/>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="package">
      <h2 class="package-title">Enterprise</h2>
      <div class="package-image">
        <img js-holder="holder.js/100%x100/social/vine"/>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
  </div>
</div>
