<div class="jumbotron ohio-state-banner radius-bottom">
  <h class="slogan">Engaging Spectators</h>
  </a>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="package">
      <h2 class="package-title">Club</h2>
      <div class="package-image">
        <img js-holder="holder.js/100%x100/social/vine"/>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="package">
      <h2 class="package-title">University</h2>
      <div class="package-image">
        <img js-holder="holder.js/100%x100/social/vine"/>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="package">
      <h2 class="package-title">Enterprise</h2>
      <div class="package-image">
        <img js-holder="holder.js/100%x100/social/vine"/>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
  </div>
</div>
